
body{
    background-color:beige;
    color: rgb(37, 26, 81);
}

h1{
    color: rgb(19, 19, 32);
    text-align:center;
}

#Family{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-indent:10cm;
} 

#Style{
    font-style: italic;
    font-weight:900;
}

#Variant{
    font-variant:unset;
    letter-spacing:5px;
    word-spacing:5px;
    text-transform: uppercase;
}

#Trans{
    letter-spacing:5px;
    text-transform: lowercase;
    text-decoration:underline;
    border:20px outset ;
    border-bottom-color:green;
    border-top-color:red;
    border-left-color:rgb(184, 114, 114);
    border-right-color:blue ;
}

a:hover {
    color: rgb(105, 255, 148);
}


#A:hover{
    color:rgb(173, 148, 169);
}

#A:active{
    color: rgb(143, 22, 22);
}

#th{
    text-align: centre;
}

#th1{
    text-align: left;
}

#td{
    height: 50px;
    vertical-align: top;
}

tr{

    background-color: aqua;
}

#tab{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 80px;
}

#frst{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 300px;
    background-color: rgb(233, 17, 175);
}

#inside{
    position: relative;
    width: 300px;
    height: 150px;
    background-color: aqua;
    margin-left: 100px;
    margin-top: 50px;
}

#third{
    position: absolute;
    margin-top:0px ;
    width: 800px;
    height:100px ;
    background-color: blueviolet;
}

#forth{
    position: static;
    margin-top: 100px;
    width: 800px;
    height:100px ;
    background-color: rgb(226, 110, 43);
}

