body{
    background-color: rgb(126, 123, 133);
    background-image: url(MacBook\ Pro\ Wallpapers\ High\ Resolution\ -\ PixelsTalk_Net.jpg);
    width: 1500px;
    height: 500px;
    background-repeat: no-repeat;
    background-position:center ;
   
}