.first_div
{
    width:30%;
    height:50px;
    background-color: aqua;
}

.second_div
{
    width: 600px;
    height: 80px;
    background-color: blueviolet;
}
#third_div
{
    width: 60%;
    height: 90px;
    background-color: brown;

}